<% @pictures.each do |picture| %>

	<div class="banana"><img class ="apple" src="<%= picture.url %>"/><a href="/pictures/<%= picture.id %>/edit">Edit</a></div>

	
	<h2> <%= picture.title %> </h2>
	<h4> <%= picture.artist %> </h4>
	


<%end%>

