<p>326px v.0.1</p>

<%- @pictures.each do |picture| %>
	<%= picture %>

	<p> <img src="<%= picture [:url] %>"width=300/>
	<h2> <%= picture[:title] %> </h2>
	<p> <%= picture[:artist] %> </p>
		
	<p></p>
<%end%>

