

#just plain old HTML here

<!-- <form method="POST" action="/pictures"> -->
<%= form_tag "/pictures" do %>



	
<!-- 	<input type="text" name="artist"/> -->
	<%= text_field_tag "artist" %>

	<label "title">Title</label>
	<input type="text" name="title"/>


	<label "url">URL</label>
	<input type="text" name="url"/>

	<input type="submit"/>
<!-- </form> -->

<%end%>